.navbar-custom {
    background-color: rgba(255, 202, 211, 0.31);
}

.wedding-text-custom {
    color: rgb(255, 95, 122);
}

.center-text-custome {
    color: rgb(152, 152, 152);
}

.banner-custom {
    margin-top: 80px;
}